/* Contenedor de las tarjetas de personajes */
.personajes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 tarjetas por fila */
  gap: 20px; /* Espacio entre tarjetas */
  padding: 20px;
}

/* Estilo de la tarjeta */
.personaje-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 15px;
  text-align: center;
}

.personaje-item:hover {
  transform: translateY(-10px); /* Animación de hover para la tarjeta */
}

.personaje-imagen {
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  max-width: 150px; /* Tamaño máximo de la imagen */
  height: auto; /* Mantén la proporción de la imagen */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.personaje-info {
  text-align: center;
}

.personaje-info h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.personaje-info p {
  font-size: 0.9em;
  color: #555;
}
